@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}


@keyframes bounce-in {
  0% {
    transform: translate(-50%, 20px);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-bounce-in {
  animation: bounce-in 0.3s ease-out forwards;
}